maps/*
backend/output/*
frontend/node_modules/*
backend/node_modules/*
node_modules/*
*.log
backend/dist/*
backend/dist/**
frontend/dist/*
frontend/dist/**
tree_detection.ipynb
tree-detection-model/.venv/
tree-detection-model/pretrained_models/
tree-detection-model/saved_polygons/
tree-detection-model/predictions/
tree-detection-model/entropy_maps/